body {
		font-family: Times New Roman;
		background-color: #3090C7;

}

h1 {
		text-align: center;
		font-size: 64px;
		border-style: dashed;
}

h3 {
	font-size: 48px;
}

h4{
	font-size: 32px;
}

p{
	font-size: 20px;
}
